name: CD-DEV

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  PROJECT_ID: financial-distress-ew
  PROJECT_NUMBER: 771179250808
  REGION: us-central1
  ARTIFACT_REPO: mlops
  IMAGE_NAME: sec-ingestion

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/${{ env.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-deployer@${{ env.PROJECT_ID }}.iam.gserviceaccount.com

      - uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for Artifact Registry
        run: |
          gcloud config set project $PROJECT_ID
          gcloud auth configure-docker $REGION-docker.pkg.dev --quiet

      - name: Build Docker Image
        run: |
          IMAGE_URI=$REGION-docker.pkg.dev/$PROJECT_ID/$ARTIFACT_REPO/$IMAGE_NAME:${{ github.sha }}
          docker build -t $IMAGE_URI -f Deployment/sec_ingestion.Dockerfile .
          echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV

      - name: Push Docker Image
        run: docker push $IMAGE_URI

      - name: Deploy Cloud Run Job
        run: |
          gcloud run jobs deploy sec-ingestion \
            --image=$IMAGE_URI \
            --region=$REGION \
            --service-account=sec-job-sa@$PROJECT_ID.iam.gserviceaccount.com \
            --project=$PROJECT_ID