name: CI

on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  ci:
    name: Lint, Typecheck, Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/771179250808/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-deployer@financial-distress-ew.iam.gserviceaccount.com

      - uses: google-github-actions/setup-gcloud@v2

      - name: Install dependencies
        run: make setup

      - name: Run lint + type checks
        run: make check

      - name: Run tests
        env:
          FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
          SEC_USER_AGENT: ${{ secrets.SEC_USER_AGENT }}
        run: make test
