name: CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-type-check:
    name: Lint + Type Check
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
    
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
    
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
    
      - name: Install dependencies
        run: make setup
    
      - name: Run Ruff linter and Mypy typechecks
        run: make check

  terraform-validate:
    name: Terraform Validation
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
    
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0
          
      - name: Validate Terraform
        run: bash scripts/check_terraform.sh